In [1]:
# Import needed dependencies
import requests
import pandas as pd
import numpy as np
import scipy.stats as stats
from datetime import date
from bs4 import BeautifulSoup, Comment

In [52]:
i = 10

name_id_df = pd.DataFrame(columns = ['Name', 'ID'])


while i < 20:

    try:
        x = str(i).rjust(7, "0")

        url = f"https://www.imdb.com/name/nm{x}/?ref_=nv_sr_srsg_0"    
        r = requests.get(url) # send the GET request to the URL

        # locate the table from the html, store it in table and table_body variables
        soup = BeautifulSoup(requests.get(url).content, 'html.parser')
        tag = soup.select_one('.itemprop')
        name = tag.get_text()

        name_id_df=name_id_df.append({'Name': name,'ID':x}, ignore_index=True)

        print(name, x)
        i = i + 1
        
    except AttributeError:
        print(f'{x} has no name')
        name_id_df=name_id_df.append({'Name': "Error",'ID':x}, ignore_index=True)
        i = i + 1
    
name_id_df

James Cagney 0000010
Gary Cooper 0000011
Bette Davis 0000012
Doris Day 0000013
Olivia de Havilland 0000014
James Dean 0000015
Georges Delerue 0000016
Marlene Dietrich 0000017
Kirk Douglas 0000018
Federico Fellini 0000019

                  Name       ID
0         James Cagney  0000010
1          Gary Cooper  0000011
2          Bette Davis  0000012
3            Doris Day  0000013
4  Olivia de Havilland  0000014
5           James Dean  0000015
6      Georges Delerue  0000016
7     Marlene Dietrich  0000017
8         Kirk Douglas  0000018
9     Federico Fellini  0000019

In [21]:
name

In [31]:
len(str(i))

2